<div id="main" class="{{ item.type }}" itemscope itemprop="blogPost">
  {% if page.type == 'photo' and item.photos and item.photos | size != 0 %}
	{% include _partial/post/gallery.html %}
  {% endif %}
	<article itemprop="articleBody"> 
	{% include _partial/post/header.html %}
	<div class="article-content">
		{% if table and site.toc.article %}
		<div id="toc" class="toc-article toc-content">
		{% if item.list_number == false %}
		<!--<%- toc(item.content,{list_number:false}) %>-->
		{% else %}
			<!--<%- toc(item.content) %>-->
		{% endif %}
		</div>
		{% endif %}
		{{ content }}  
        <div class="source-link">
            <div class="separator"></div>
{{page.url}}
            <p><strong>转载请注明出处：</strong><a href="http://www.xiaotanzhu.com{{ site.baseurl }}{{ item.url }}">http://www.xiaotanzhu.com{{ site.baseurl }}{{ item.url }}</a></p>
        </div>
	</div>
	{% include _partial/post/footer.html %}   
	</article>
	{% include _partial/post/pagination.html %}
	{% include _partial/post/comment.html %}
</div>  
